{% extends "base.html" %}
{% block content %}
<div class="form-wrapper">
    <h2>Account</h2>
    <p>Hi {{ username }}, thanks for playing the game!</p>

    <form method="POST" action="/account/username">
        <fieldset>
            <legend>Change Username</legend>
            <div class="label-group">
                <label for="username">Username</label>
                <input id="username" type="text" name="username" value="{{ username }}">
                {% for err in username_error %}
                    <span class="error">{{ err }}</span>
                {% endfor %}
            </div>
            <input type="submit" value="Apply Changes">
        </fieldset>
    </form>

    <form method="POST" action="/account/password">
        <fieldset>
            <legend>Change Password</legend>
            <div class="label-group">
                <label for="password">Password</label>
                <input id="password" type="password" name="password">
                {% for err in password_error %}
                    <span class="error">{{ err }}</span>
                {% endfor %}
            </div>
            <div class="label-group">
                <label for="password-repeat">Repeat Password</label>
                <input id="password-repeat" name="password_repeat" type="password">
                {% for err in password_repeat_error %}
                    <span class="error">{{ err }}</span>
                {% endfor %}
            </div>
            <input type="hidden" name="username" value="{{ username }}">
            <input type="submit" value="Apply Changes">
        </fieldset>
    </form>

    <a class="button" href="/logout">Logout</a>

</div>
{% endblock %}